@if (workout; as selectedWorkout) {
  <div class="flex justify-center mt-8 px-4 py-28">
    <div class="w-full max-w-6xl p-6 universal-card rounded-xl shadow">
      <div class="flex flex-col h-130 lg:flex-row gap-10">
        <div class="w-full lg:w-1/2 flex flex-col mt-12">
          <img
            [src]="selectedWorkout.image"
            [alt]="selectedWorkout.title"
            class="w-full h-64 object-cover rounded-xl mb-4"
          />

          <div class="flex justify-between items-start mb-4">
            <div class="flex-col">
              <h1 class="text-3xl font-bold mb-4">{{ selectedWorkout.title }}</h1>
              <p class="mb-2 mt-6">{{ selectedWorkout?.longDescription }}</p>
            </div>

            <div class="flex flex-col justify-between items-end">
              <app-favorite-toggle
                [id]="workout.title"
                (favoriteChange)="onFavoriteChange($event)"
              ></app-favorite-toggle>
            </div>
          </div>
        </div>

        <div class="w-full h-160 lg:w-1/2">
          <div class="mt-10 lg:mt-0">
            <h2 class="text-2xl font-bold mb-4">Select a Session</h2>
            <div class="w-full overflow-auto">
              <app-workout-calendar
                mode="workouts"
                [workout]="workout"
                [bookedSessions]="bookedSessions"
                (bookingConfirmed)="onBookingConfirmed($event)"
                (bookingCanceled)="onBookingCanceled($event)"
              >
              </app-workout-calendar>
            </div>
          </div>
        </div>
      </div>

      @if (bookedSessions && bookedSessions.length > 0) {
        @for (session of bookedSessions; track session.id) {
          <div
            class="mt-2 p-4 bg-green-100 text-green-800 rounded flex justify-between items-center"
          >
            <div>
              Successfully booked <strong>{{ session.workoutTitle }}</strong> on
              {{ session.start | date: 'short' }}
            </div>
            <button
              class="universal-button px-4 py-1 rounded-full bg-red-500 text-white hover:bg-red-600"
              (click)="cancelConfirmedBooking(session)"
            >
              Cancel Booking
            </button>
          </div>
        }
      }
    </div>
  </div>
}
