<div #profileDropdownRef>
  @if (user) {
    <button
      class="relative w-20 h-10 rounded-full flex items-center justify-center duration-300"
      [ngClass]="darkMode ? 'bg-[#202020] text-white' : 'bg-[#dadada] text-black'"
      (click)="toggleDropdown($event)"
    >
      @if (user.image) {
        <div
          class="absolute top-0.5 left-0.5 w-9 h-9 rounded-full shadow-md flex items-center justify-center overflow-hidden transition-transform duration-300"
        >
          <img [src]="user.image" alt="Profile" class="w-full h-full object-cover" />
        </div>
      } @else {
        <div
          class="absolute top-0.5 left-0.5 w-9 h-9 rounded-full shadow-md flex items-center justify-center transition-transform duration-300"
          [ngClass]="darkMode ? 'bg-[#393939]' : 'bg-[#ececec]'"
        >
          <mat-icon class="text-2xl">account_circle</mat-icon>
        </div>
      }

      <mat-icon class="absolute top-0 right-2 text-sm cursor-pointer translate-y-2.5">
        expand_more
      </mat-icon>
    </button>

    @if (profileDropdownOpen) {
      <div
        class="absolute right-28 mt-2 w-38 rounded-lg shadow-lg py-2 z-50"
        [ngClass]="darkMode ? 'bg-[#393939] text-[#e0e0e0]' : 'bg-[#dadada] text-black'"
      >
        @for (item of dropdownItems; track item.path) {
          <a
            [routerLink]="item.path"
            class="block px-4 py-2 transition cursor-pointer"
            [ngClass]="darkMode ? 'hover:bg-[#2c2c2c]' : 'hover:bg-[#b5b5b5]'"
          >
            {{ item.label }}
          </a>
        }
      </div>
    }
  } @else {
    <a
      routerLink="/login"
      class="relative w-20 h-10 rounded-full flex items-center justify-center shadow-sm"
      [ngClass]="darkMode ? 'bg-[#202020] text-white' : 'bg-[#dadada] text-gray-700'"
    >
      Login
    </a>
  }
</div>
