@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';

.universal-theme {
  @apply bg-gray-200 text-black transition-colors duration-300;
}

html.dark .universal-theme {
  @apply bg-[#151515] text-[#b3b3b3];
}

body {
  @apply bg-[#f1f1f1] text-black transition-colors duration-300;
}

html.dark body {
  @apply bg-[#202020] text-[#dfdfdf];
}

nav {
  @apply transition-colors duration-300;
}

footer {
  @apply bg-gray-200 text-black dark:text-[#b3b3b3] p-6;
}

html.dark footer {
  @apply bg-gray-900 text-gray-100;
}

button,
section {
  @apply transition-colors duration-300;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.page-content {
  @apply pt-25 md:pt-30 max-w-6xl mx-auto px-4 md:px-6;
}

.universal-card {
  @apply bg-gray-200 text-black;
}

html.dark .universal-card {
  @apply bg-[#151515] text-[#dfdfdf];
}

.universal-button {
  @apply bg-[#bbbbbb] text-black rounded-full hover:bg-[#afafaf];
}

html.dark .universal-button {
  @apply bg-[#373737] text-[#dfdfdf] hover:bg-[#4b4b4b];
}

.universal-line {
  @apply border-gray-300;
}

html.dark .universal-line {
  @apply border-[#4b4b4b];
}

.universal-calendar {
  @apply bg-[#f1f1f1] text-black;
}

html.dark .universal-calendar {
  @apply bg-[#202020] text-[#dfdfdf];
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d2d2d2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar mat-icon {
  font-size: 90px;
  width: 90px;
  height: 90px;
}

mat-icon.icon-sm {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

mat-icon.icon-md {
  font-size: 30px;
  line-height: 1;
}

@media (max-width: 480px) {
  .fc-header-toolbar {
    display: flex;
    flex-direction: column;
  }

  .fc-toolbar-chunk .fc-toolbar-title {
    margin-bottom: 8px;
    font-size: 1.1rem;
  }
}

.fc-col-header-cell-cushion {
  color: black;
}
